.App{
  display: grid;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background: black;
}
.bg{
  place-self: center;
  display: grid;
  background: tan;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.border{
  border-bottom: white solid 3px;
  border-left: white solid 3px;
  height: 150px;
  width: 700px;
  justify-self: center;
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  padding: 15px;
}
.obj{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin: 0;
  color: white;
}
.btn{
  width: 200px;
  height: 50px;
  background: tomato;
  color: white;
  border-style: none;
  font-size: 25px;
  justify-self: center;
  align-self: end;
}
.btn:hover{
  background: rgb(202, 78, 56);
}
.btn:active{
  background: tomato;
}

